<!doctype html>
<html ng-app="app">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
    <script src="app.js"></script>
  </head>
  <h4>List of Customers</h4>
  <body ng-controller="CustomerListController as listCtrl">
    <div ng-repeat="customer in listCtrl.customers">

        <h4> Name: {{customer.name}} </h4>
        <h4> Email: {{customer.email}} </h4>
        <h4> Phone: {{customer.phone}} </h4>
        <h4>Address: {{customer.address[0].street}} {{customer.address[0].city}} {{customer.address[0].state}} {{customer.address[0].zip}}</h4>


    </div>
    <div ng-controller="CustomerAddController as addCtrl">
      <form
      ng-submit="addCtrl.addCustomer()" novalidate>
        <h2>Add a new customer </h2>
        <fieldset ng-model="addCtrl.customer.name">Name: <input type="text"/></fieldset>

        <fieldset ng-model="addCtrl.customer.email">Email: <input type="email"/></fieldset>
        <fieldset ng-model="addCtrl.customer.phone">phone: <input type="text"/></fieldset>
        <h3>Address</h3>
        <fieldset ng-model="addCtrl.customer.street">Street: <input type="text"/></fieldset>
        <fieldset ng-model="addCtrl.customer.city">City: <input type="text"/></fieldset>
        <fieldset ng-model="addCtrl.customer.state">State: <input type="text"/></fieldset>
        <fieldset ng-model="addCtrl.customer.zip">Zip: <input type="text"/></fieldset>
        <input type="submit" value="Submit"/>
      </form>
      </div>
  </body>
</html>
